#home {
  display: flex;
  height: 100vh;
  .side-bar {
    background-color: #1b1c1d;
    flex: 0 1 30%;
  }
  .main-content {
    background-color: #ffffff;
    flex: 0 1 70%;
  }
}

// Styles for mobile devices

@media only screen 
and (min-width: 320px)
and (max-width: 1000px) {
  #home {
    display: flex;
    flex-direction: column;
    .side-bar {
      flex: 0 1 100%;
    }
    .main-content {
      flex: 0 1 100%;
    }
  }
}